body {
	width: 400px;
	margin: 100px auto;
	font: 14px/1.5 sans-serif;
	color: #333;
	text-align: center;
}

#suggestion {
	font-size: 1.1em;
	padding: 10px;
}

.suggestions {
	list-style: none;
	margin: 2em 0;
	padding: 0;
}

.suggestions li {
	margin-bottom: 3em;
}

.suggestions footer {
	text-align: center;
}

.played {
	opacity: .7;
}

.song-title {
	font-size: 1.3em;
	font-family: Georgia, serif;
	display: block;
	margin-bottom: .5em;
}